
body{
    background-color: rgb(209, 164, 87);
}

.navbar{
    background-color: rgb(233, 156, 55);
}


footer{
    background-color: black;
    color: white;
    padding: 30px;
}

 
.table{
    width: 99%;
    border-collapse: collapse;
    background-color: rgba(77, 255, 0, 0.047);
}

.rigth{
    text-align-last: end;
    width: 99%;
    margin: 10px;
}

.left{
    text-align: left;
    width: 99%;
    margin: 10px;
}


.select_field{
    display: flex;
}

 
form {
    margin: 0 auto;
    text-align: center;
}

.center_btn{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 99%;
    place-content: center;
}


.alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
    color:black;
  }
  .alert-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 200px;
    position: relative;
    color:black;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color:red;
    font-weight: 800;
  }