<!-- templates/cams.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="titulo title"> Alertas Cadastrasados </h1>

  <div class="rigth">
    <a href="{{ url_for('recipients.recepients_new', id=cam.code) }}" class=""><button class="button is-success is-light">Cadastrar uma nova forma de alerta</button> </a>
  </div>
 

  <!-- percorre a variavel rec e cria uma tabela -->
  <table class="table ">
    <thead>
      <tr>
        <th>Modo</th>
        <th>Endereço</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for rec in recs %}
      <tr>
        <td>{{ rec.method }}</td>
        <td>{{ rec.adress }}</td>
        <td><a href="{{ url_for('recipients.recepients_edit', id=rec.code) }}" class="button is-info">Editar</a></td>
        <td><a href="{{ url_for('recipients.recepients_delete', rec_id=rec.code ) }}" class="button is-danger">Excluir</a></td>
      </tr>
      {% endfor %}
    </tbody>


  </table>


  <div class="left">
    <a href="/cams" class=""><button class="button is-info is-light">Voltar</button> </a>
  </div>


    
{% endblock %}