<!-- templates/cams.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="titulo title"> Camerâs cadastradas </h1>

  <div class="rigth">
    <a href="{{ url_for('cams.cams_new') }}" class=""><button class="button is-success is-light">Cadastrar uma nova câmera</button> </a>
  </div>
 
  <!-- percorre a variavel cams e cria uma tabela  -->
  <table class="table">
    <thead>
      <tr>        
        <th>Câmera</th>
        <th>armazenar a imagem?</th>
        <th>Dias para armazenar a imagem</th>
        <th>Tipo de Evento</th>
        
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      {% for cam in cams %}
      
      <tr>
        <td>{{ cam.label }}</td>
        <td>{{ cam.back_img_str() }}</td>
        <td>{{ cam.backup_img_days }}</td>
        <td>{{ cam.type_event }}</td>



        <td> <a href="{{ url_for('recipients.recepients_cam', id=cam.code) }}">
          <button  class="button is-info is-light" >recipients</button>
          </a> </td>


        <td> <a href="{{ url_for('events.simulate', id=cam.code) }}">
          <button class="button is-success is-light">Simular eventos</button>  
        </td>


        

        <td style=" display: flex;">
          <a href="{{ url_for('cams.cams_edit', id=cam.code) }}" class="">
            <button class="button is-block is-info  is-warning">Editar</button>  
          </a>
        </td>


        <td>
          <form method="POST" action="/cams_delete?">
            <input type="hidden" name="code" value="{{cam.code}}">
            <button class="button is-block is-info  is-danger">Deletar</button>
          </form>
        </td>



      </tr>
      <tr>
        <td colspan="8">
            {% for ev in events %}
              {% if ev.code_cam == cam.code %}
                <p> {{ev.formatadata()}}   {{ ev.recepients_method }} : {{ ev.recepients_adress }}  </p><br>
              {% endif %}
            {% endfor %}
        </td>
        
      </tr>
      {% endfor %}
    </tbody>
 
{% endblock %}