<!-- templates/cams.html -->

{% extends "base.html" %}

{% block content %}
<head>
  <style>

  </style>
</head>


<h1 class="titulo title"> Câmeras cadastradas </h1>

  <div class="rigth">
    <a href="{{ url_for('cams.cams_new') }}" class=""><button class="button is-success is-light">Cadastrar uma nova câmera</button> </a>
  </div>
 
  <!-- percorre a variavel cams e cria uma tabela  -->
  <table class="table">
    <thead>
      <tr>        
        <th>Câmera</th>
        <th>armazenar a imagem?</th>
        <th>Dias para armazenar a imagem</th>
        <th>Tipo de Evento</th>
        
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      {% for cam in cams %}
      
      <tr>
        <td>{{ cam.label }}</td>
        <td>{{ cam.back_img_str() }}</td>
        <td>{{ cam.backup_img_days }}</td>
        <td>{{ cam.type_event }}</td>



        <td> <a href="{{ url_for('recipients.recepients_cam', id=cam.code) }}">
          <button  class="button is-info is-light" >Alertas</button>
          </a> </td>


        <td> <a href="{{ url_for('events.simulate', id=cam.code) }}">
          <button class="button is-success is-light">Simular eventos</button>  
        </td>


        

        <td style=" display: flex;">
          <a href="{{ url_for('cams.cams_edit', id=cam.code) }}" class="">
            <button class="button is-block is-info  is-warning">Editar</button>  
          </a>
        </td>


        <td>
          <form method="POST" action="/cams_delete?">
            <input type="hidden" name="code" value="{{cam.code}}">
            <button class="button is-block is-info  is-danger">Deletar</button>
          </form>
        </td>



      </tr>
      <tr>
        <td colspan="8">
            {% for ev in events %}
              {% if ev.code_cam == cam.code %}
              <div>
               <a onclick="clica_mensagem(this)">
               {% if ev.send == 1 %}  <span id='status' style="color: rgb(38, 168, 6);">[enviada]</span>  {% else %}  <span id='status' style="color: red;">[não enviada]</span>  {% endif%}
                
               {{ev.formatadata()}}   {{ ev.recepients_method }} : {{ ev.recepients_adress }}  

               <span id="msg" style="visibility: hidden;"> {{ev.message}} </span>
              </a>

              </div>
              {% endif %}
            {% endfor %}
        </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script>
  function clica_mensagem(e){
    
 
    for (var i = 0; i < e.childNodes.length; i++) {
      el = e.childNodes[i];
      

      if (el.nodeType == 1) { // get rid of the text node
        console.log(el.id)
          if (el.id == 'status'){         
            document.getElementById('alerta_status').innerText = el.innerText;
            document.getElementById('alerta_status').style.color = el.style.color;
          }

          if (el.id == 'msg')
            document.getElementById('alerta_message').innerText = el.innerHTML;
            
          
          
        }
    }


    alert.style.display = "flex";
  }
</script>

  <div class="alert" id="alert">
    <div class="alert-box">
      <h1 id="alerta_titulo">Visualizando mensagem</h1>
      <p id="alerta_status">status</p>
      <p id="alerta_message">mensagem</p>
      <span class="close-btn" id="close-btn">&times;</span>
    </div>
  </div>

   <script>
    const showAlertBtn = document.getElementById("show-alert");
    const closeBtn = document.getElementById("close-btn");
    const alert = document.getElementById("alert");
    closeBtn.addEventListener("click", function() {alert.style.display = "none";});
  </script>




  </body>

 
{% endblock %}